# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
build/
coverage/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
android/.gradle/
android/.kotlin/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Local secrets
.env
*.env
*.jks
key.properties
